// #################################################################################################
// colors

body,
[data-theme="light"] {
	--c000: #ffffff;
	--c005: #f5f5f5;
	--c010: #e5e5e5;
	--c020: #cccccc;
	--c030: #b2b2b2;
	--c040: #999999;
	--c050: #7f7f7f;
	--c060: #666666;
	--c070: #4c4c4c;
	--c080: #333333;
	--c090: #191919;
	--c095: #0a0a0a;
	--c100: #000000;
}

[data-theme="dark"] {
	--c000: #000000;
	--c005: #0a0a0a;
	--c010: #191919;
	--c020: #333333;
	--c030: #4c4c4c;
	--c040: #666666;
	--c050: #7f7f7f;
	--c060: #999999;
	--c070: #b2b2b2;
	--c080: #cccccc;
	--c090: #e5e5e5;
	--c095: #f5f5f5;
	--c100: #ffffff;
}

// #################################################################################################
body {
	background-color: var(--c000);
	color: var(--c100);
}
